*{
    margin: 0;
    padding: 0;
}
.music{
    border-radius: 10px;
    background-color: #121212;
    max-width: 150px !important;
    max-height: 250px !important;
    margin: 20px auto;
}
img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    min-width: 150px !important;
    min-height: 150px !important;


}
.contenu{
    width: 150px !important;
    height: 250px !important;
}
.photo-artiste{
    width: 150px !important;
    height: 150px !important;  
}
.player{
    display: flex;
    color: white;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
}
.title-Music{
    color: white;
    display: flex;
    flex-direction: column;
    max-height: 50px;
    min-height: 50px;
}
.play-button{
    font-size: 30px;
    margin-bottom: 15px !important;
}
.title{
    max-height: 50px;
    min-height: 50px;
    overflow: hidden;
}