section{
     max-width: 350px !important; 
     min-width: 350px !important; 
    background-color: #00000E;
}


img{
    max-width: 100px;
    max-height: 100px;
}
.othermenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px !important;
}
.mentionLeg{
    margin-top: 9rem !important;   
}
.icone-home{
    margin-top: 30px !important;
    margin-bottom: 50px !important;
    margin-left: 80px !important;
}

